
footer{

}

.info{
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  padding: 20px 50px ;
  border-bottom:1px solid #ccc;

}

li{
  list-style-type: none;
  padding: 5px;
  font-size: 19px;
}
.contact{

}
.news{

}
.email{
  display: flex;
  flex-direction: row;
  padding-top: 10px;

  width: 100%;
}
input{
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  width: 20vw;
}
button
{
  padding: 12px 20px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #5CA720;
}


.bottom-footer{
  font-size: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}
.sociais{display: flex;
  gap: 20px;
  padding: 40px;
  margin: center;
  color: #5CA720;
}
.payment{
  display: flex;
  gap: 20px;
  padding: 40px;
  margin: center;
}
