<footer>
  <div class="info">
    <div class="contact">
      <ul>
        <li>Contato</li>
        <li>Termos de serviço</li>
        <li>Política de privacidade</li>
        <li>Cancelamento, troca e reembolso</li>
      </ul>
    </div>
    <div class="news">
      <h2>Newsletter</h2>
      <div class="email">
        <input type="text" placeholder="Digite seu e-mail">
        <button>Inscrever</button>
      </div>
    </div>
  </div>

  <div class="bottom-footer">
    <div class="sociais">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook"></i>
    </div>
    <div class="payment">
      <i class="fa-brands fa-cc-mastercard"></i>
      <i class="fa-brands fa-cc-visa"></i>
    </div>
  </div>
</footer>
