<main>
  <div class="banner-main">
    <img src="assets/banner.png" alt="" class="banner">
  </div>
  <div class="promo">
    <div class="title-promotion">
      <h3>PROMOÇÃO</h3>
      <a href="">9Itens</a>
    </div>
    <div class="cards">
      <div class="card">
        <img src="assets/suco.jpg" alt="" srcset=""  class="foto-card">
          <h4><b>John Doe</b></h4>
          <p>R$200</p>
      </div>
      <div class="card">
        <img src="assets/suco.jpg" alt="" srcset=""  class="foto-card">
          <h4><b>John Doe</b></h4>
          <p>R$200</p>
      </div>
      <div class="card">
        <img src="assets/suco.jpg" alt="" srcset=""  class="foto-card">
          <h4><b>John Doe</b></h4>
          <p>R$200</p>
      </div>
      <div class="card">
        <img src="assets/suco.jpg" alt="" srcset=""  class="foto-card">
          <h4><b>John Doe</b></h4>
          <p>R$<a>200</a></p>
      </div>
      <div class="card">
        <img src="assets/suco.jpg" alt="" srcset=""  class="foto-card">
          <h4><b>John Doe</b></h4>
          <p>R$200</p>
      </div>
      <div class="card">
        <img src="assets/suco.jpg" alt="" srcset=""  class="foto-card">
          <h4><b>John Doe</b></h4>
          <p>R$200</p>
      </div>
      <div class="card">
        <img src="assets/suco.jpg" alt="" srcset=""  class="foto-card">
          <h4><b>John Doe</b></h4>
          <p>R$200</p>
      </div>
      <div class="card">
        <img src="assets/suco.jpg" alt="" srcset=""  class="foto-card">
          <h4><b>John Doe</b></h4>
          <p>R$200</p>
      </div>
      <div class="card">
        <img src="assets/suco.jpg" alt="" srcset=""  class="foto-card">
          <h4><b>John Doe</b></h4>
          <p>R$200</p>
      </div>
    </div>
  </div>
</main>
