@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

header{

  flex-direction: row;
  display: flex;

}
.logo{

 width: 100%;
 display: flex;
 align-items: center;
 


}
a{
  font-family: 'Lato', sans-serif;
}
.icons{
  width: 20%;
  display: flex;
  align-items: center;


}
ul{
  display: flex;
  flex-direction: row;


}
li{
  list-style-type: none;
  padding-left: 25px;

}
i{
  color: #5CA720;
}
